pipeline/pl_fl_sql_server_mig.json
{
	"name": "pl_fl_sql_server_mig",
	"properties": {
		"activities": [
			{
				"name": "lkp_mysql_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT \n    table_schema AS `schema`,\n    table_name AS `table`\nFROM \n    information_schema.tables\nWHERE \n    table_type = 'BASE TABLE' \n    AND table_schema = 'walmart';"
					},
					"dataset": {
						"referenceName": "ds_myS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_mysql_tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_mysql_tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyTables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@{concat('select * from ',item().schema,'.',item().table)}",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_mysql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_mysqltables_parquet",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "sp_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyTables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_Execution_Details]",
								"storedProcedureParameters": {
									"date": {
										"value": {
											"value": "@formatDateTime(convertTimeZone(utcnow(), 'UTC', 'India Standard Time'), 'MM/dd/yyyy hh:mm:ss tt')\n",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_message": {
										"value": null,
										"type": "String"
									},
									"pl_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pl_runId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pl_status": {
										"value": "SUCCESS",
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "@activity('CopyTables').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"rows_read": {
										"value": {
											"value": "@activity('CopyTables').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_ss",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "PL_Onprem_Sql_Server"
		},
		"annotations": []
	}
}